<div class="slider-frame row">
<div class="slide-roll">
{{#each}}
<section class="intro-slide">
<div class="center-box row-row">
	<div class="part-1 row">
			<h2 class="ghost-phrase part-1">I just cannot help myself and the carpet made the room so comfortable.</h2>
	</div>
	<div class="part-2">
		<div class="content-box-fill">
			<p>{{short-abstract articleContent}}
			{{#link-to 'news'}}more{{/link-to}}</p>
			<nav class="row">
				{{#view 'slidefwd'}}<div class="part-1 right slidernav">{{fa-icon "arrow-circle-down" size=2}}</div>{{/view}}
				{{#view 'sliderev'}}<div class="part-1 right slidernav">{{fa-icon "arrow-circle-up" size=2}}</div>{{/view}}
			</nav>
		</div>
	</div>
</div>
<div class="center-box row-row">
			<h1 class="ghost-subline part-1">{{title}}</h1>
</div>
</section>
{{/each}}
</div>
</div>

{{outlet}}
