<div class="slider-frame row">
<div class="slide-roll">
{{#each}}
<section class="intro-slide active row-col">
<div class="center-box row-colrow">
	<div class="part-1 row emptypart">
			<!-- <h2 class="ghost-phrase part-1">I just cannot help myself and the carpet made the room so comfortable.</h2> -->
	</div>
	<div class="part-2 contentpart">
		<div class="content-box-fill description">
			<p>{{short-abstract articleContent}}
			{{#link-to 'news'}}more{{/link-to}}</p>
			<nav class="row">
				{{#view 'slidefwd'}}<div class="part-1 right slidernav">{{fa-icon "arrow-circle-down" size=2}}</div>{{/view}}
				{{#view 'sliderev'}}<div class="part-1 right slidernav">{{fa-icon "arrow-circle-up" size=2}}</div>{{/view}}
			</nav>
		</div>
	</div>
</div>
<div class="center-box row-row">
<hgroup class="ghost-lines part-1">
			<h1 class="ghost-subline gs-1">{{titlePartOne}}</h1>
			<h2 class="ghost-subline gs-2">{{titlePartTwo}}</h2>
			<h2 class="ghost-subline gs-3">{{titlePartThree}}</h2>
			</hgroup>
</div>
</section>
{{/each}}
</div>
</div>

{{outlet}}
