{{#each}}
<section class="fullsize intro-slide odd">
<div class="center-box row-colrow">
	<div class="part-2 row-col">
			<h3 class="ghost-phrase part-1">{{title}}</h3>
			<h3 class="ghost-phrase part-1">{{title}}</h3>
			<h3 class="ghost-phrase part-1">I just cannot help myself and the carpet made the room so comfortable.</h3>
	</div>
	<div class="part-1">
		<div class="content-box-fill">
			<p>{{short-abstract articleContent}}
			{{#link-to 'news'}}more{{/link-to}}</p>
			<nav class="row-row">
				{{#view 'slidefwd'}}<div class="part-1 slidernav">{{fa-icon "arrow-circle-left" size=2}}</div>{{/view}}
				{{#view 'slidefwd'}}<div class="part-1 right slidernav">{{fa-icon "arrow-circle-right" size=2}}</div>{{/view}}
			</nav>
		</div>
	</div>
</div>
</section>
{{/each}}

{{outlet}}
